<header class="section header">
  <div class="container">
    header
  </div>
</header>
<nav class="section navigation">
  <div class="container">
    nav
  </div>
</nav>
<section class="section main">
  <div class="container">
    <div class="row">
      <div class="col bg-danger">AAA</div>
      <div class="col bg-primary">BBB</div>
      <div class="col bg-warning">CCC</div>
      <div class="col bg-info">DDD</div>
    </div>
  </div>
</section>
<footer class="section footer">
  <div class="container">footer</div>
</footer>
<Login></Login>
<register></register>

