<header class="section header">
  <div class="container">
    header
  </div>
</header>
<nav class="section navigation">
  <div class="container">
    <a routerLink="/" class="btn btn-primary m-2">Login</a>
    <a routerLink="/register" class="btn btn-warning">Register</a>
    <a routerLink="/thoitiethanoi" class="btn btn-info m-2">Thời Tiết Hà Nội</a>
  </div>
</nav>
<section class="section main">
  <div class="container">
   <div class="row">
  <router-outlet></router-outlet>
   </div>
  </div>
</section>
<footer class="section footer">
  <div class="container">footer</div>
</footer>


